/*
Custom CSS for TemplateMo 561 Purple Buzz

https://templatemo.com/tm-561-purple-buzz

*/

.project .card {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow: hidden;
}

.project .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project .card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.project .card-title,
.project .card-text {
    margin-bottom: 0.5rem;
}

