.projects a {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 30px; /* espaçamento entre linhas */
}

.projects a .card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.projects a .card-img-top {
    width: 100%;
    aspect-ratio: 4/3; /* mantém proporção da imagem */
    object-fit: cover; /* recorta a imagem se necessário, sem distorcer */
}

.projects a .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* mantém título e botão alinhados */
    flex-grow: 1;
}
