.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.projects > a {
    flex: 1 1 calc(33.333% - 1rem);
    display: flex;
    text-decoration: none;
}

.projects .card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.projects .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projects .card-img-top {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
}
